body {
    margin: 0;
    position: relative;
}

.footer {
    
    width: 100%;
    background-color: #131C27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 0;
    gap: 2vh;
    right: 0;
    left: 0;
    bottom: 0;
}

.element1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40vw;
    padding-bottom: 5%;
    border-bottom: 1px solid white;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    color: white;
    font-family: Hedvig Letters Sans;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 2vw;
}

.buton {
    align-self: flex-start;
    color: #C98256;
    background-color: #161F2B;
    font-family: Hedvig Letters Sans;
    font-size: 20px;
    border: 1px solid #C98264;
    padding-left: 1em;
    padding-right: 1em;
    width: 13vw;
    height: 4vw;
    border-radius: 8px;
    &:hover{
      background-color: #C98264;
        border: #C98264;
        color: white;
    }
  }

.bouton2 {
    align-self: flex-start;
    color: #C98264;
    background-color: #161F2B;
    font-family: Hedvig Letters Sans;
    font-size: 20px;
    border: 1px solid #C98264;
    padding-left: 1em;
    padding-right: 1em;
    width: 20vw;
    height: 4vw;
    border-radius: 8px;
    &:hover{
      background-color: #C98264;
        border: #C98264;
        color: white;
    }
}

.copyright {
    color: white;
    font-family: Hedvig Letters Sans;
    font-size: 15px;
}