{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djngo google sign in</title>
</head>
<body>
    {% load socialaccount %}
    <h2>Google LOGIIINN</h2>
    <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>
    {% if user.is_authenticated %}
    <p>You are sign in as {{user.email}}</p>
    <a href="logout">Logout</a>
    {% endif %}
</body>
</html>